body {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  font: 4vw 'Century Gothic', Futura, sans-serif;
  color: #fff;
}

* {
  transition: all 0.2s ease-in-out;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.game {
  display: flex;
  align-items: center;
}

.main_title {
  font-size: 4vw;
  border: 1px solid #fff;
}

.square {
  border: 0.1em solid #fff;
  background-color: #000;
  float: left;
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: -7px;
  margin-right: -7px;
  height: 18vw;
  width: 18vw;
  max-width: 200px;
  max-height: 200px;
  padding: 0;
  text-align: center;
  color: #fff;
}
.square:hover {
  background-color: #fff;
  color: #000;
  border: 0.1em solid #fff;
}

.game-info {
  line-height: 30px;
  margin-left: 1em;
}

.restart__btn {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.5vw;
  text-transform: uppercase;
}
.restart__btn:hover {
  background-color: #000;
  color: #fff;
}
.restart__btn:focus {
  outline: none;
}
.restart__btn:active {
  background-color: #fff;
  color: #000;
}

/* media queries for screen small than 768px */
@media screen and (max-width: 768px) {
  .game {
    flex-direction: column;
  }
  .game-board {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .square {
    font-weight: bold;
    height: 18vw;

    max-width: initial;
    max-height: initial;
  }
}
